.task-list-item {
  align-content: center;
  align-items: center;
  background-color: var(--primary-peach);
  border: 1px var(--black-light) solid;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
}

.list-item-title-checkbox {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 10px;
  width: 100%;
}

.checkbox {
  appearance: none;
  background-color: white;
  border: 1px solid #9e877d;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  min-height: 15px;
  min-width: 15px;
  position: relative;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
}

.checkbox:checked {
  background-color: transparent;
  border-color: transparent;
}

.checkbox:checked::after {
  color: white;
  content: "✔";
  font-size: 14px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button-icon {
  height: 20px;
  width: 20px;
}

.strike-through {
  text-decoration: line-through;
}

.editable-task-input {
  background: transparent;
  border: none;
  color: inherit;
  flex: 1; /* Takes all available space */
  font-family: inherit;
  font-size: 16px;
  min-width: 0; /* Prevents overflow issues in flex */
  outline: none;
  padding: 0;
  width: 100%; /* Ensures full width */
}

.checked {
  text-decoration: line-through;
}

.input-container {
  width: 100%;
}
