.profile-name {
  font-size: larger;
  font-style: oblique;
  font-weight: bold;
  margin: 10px;
}

.navigation-container {
  align-content: center;
  align-items: center;
  /* background-color: var(--header-peach); */
  border: 1px var(--black-light) solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
