.profile-name{
    font-size: large;
    margin: 10px;
}

.navigation-container{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.search-icon{
    height: 30px;
    width: 30px;
}