.Listitem-name {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Listitem-container {
  align-items: center;
  border: 1px transparent solid;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
}

.Listitem-container.selected {
  background-color: var(--primary-peach);
}

.Listitem-container:hover {
  border: 1px var(--primary-peach) solid;
}

.Listitem-icon {
  height: 25px;
  min-height: 25px;
  min-width: 25px;
  width: 10%;
}
.Listitem-count {
  height: 25px;
  min-height: 25px;
  min-width: 25px;
  width: 25px;
}

.Listitem-name-count {
  align-items: baseline;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  width: 80%;
}

.editable-list-input {
  background: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: large;
  outline: none;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
