.addlist-button {
  background-color: var(--primary-peach);
  border: 1px var(--black-light) solid;
  box-shadow: 0px 2px 1px var(--primary-peach);
  min-width: 200px;
  padding: 10px 20px;
  pointer-events: painted;
  text-align: center;
  width: 100%;
}

.addlist-button:active {
  border: 1px transparent solid;
}

.addlist-button:hover {
  background-color: var(--primary-peach);
}

.title {
  pointer-events: none;
}
