/* classes */
.sidebar-container {
  border: 1px var(--black-light) solid;
  box-shadow: 4px 0px 2px var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
  width: 25%;
}
