.taskListArea{
    background-color:var(--background-peach);
    color: var(--black);
    height: 100%;
    margin: auto;
    padding:20px ;
    width: 75%;
}

.task-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin:10px ;
    width: 100%;
}

.header-title{
    font-size: 40px;
}

.menu-icon{
    height: 40px;
    width: 40px;
}

.alt-message{
    font-size: larger;
    margin: auto;
}