@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-dark: #000d;
  --background-light: #fff2;
  --background-peach: #f6e5dd;
  --black: #000;
  --black-light: #0003;
  --header-peach: #fcf9eb;
  --primary-peach: #f6d6cd;
  --secondary-peach: #debaae;
  --shadow: #0003;
}

*,
*::before,
*::after {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* elemetns */

html {
  font-family: "Work Sans", sans-serif;
  font-size: 100%;
  overflow: auto;
}

img {
  display: inline-block;
  margin: 0.5rem;
  max-width: 100%;
}

body {
  background-color: var(--background);
  height: 100vh;
}

html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

.unselectable {
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  cursor: default; /* Optional: Keeps cursor normal */
}
